* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*  MOBILE  */

.container {
  max-width: 318px;
  margin: 0 auto;
  padding: 0 15px;
}
.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}
/* HEADER */

.menu-items {
  display: none;
}

.contacts {
  display: none;
}

.menu-mobile-overflow {
  position: fixed;
  z-index: 999;
  background-color: #fff;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  overflow-x: auto;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.menu-mobile-overflow.is-open {
  transform: translateX(0);
}

.menu-mobile-conteiner {
  max-width: 320px;
  height: 100%;
  padding: 72px 24px 40px 16px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.close-menu {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border-color: #8e8f99;
  position: absolute;
  top: 24px;
  right: 24px;
}

.header-mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-box-mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-menu-mobile {
  fill: #2f2f37;
}

.menu-items-mobile {
  display: flex;
  flex-wrap: wrap;
  max-width: 270px;
  gap: 40px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.menu_logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;

  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;

  padding: 16px 0;
  display: inline-block;
}

.menu-part {
  color: #2e2f42;
}

.menu-item-mobile {
  display: block;
  color: #2e2f42;
  text-decoration: none;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  /* padding: 24px 0; */
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__item:hover {
  color: #404bbf;
}

.menu__item:focus {
  text-decoration: underline;
  color: #404bbf;
}

.menu__item-active {
  color: #404bbf;
}
.contacts-active {
  color: #404bbf;
}
.contacts-mobile {
  font-style: normal;
  margin-bottom: 48px;
}

.menu-mobile-contacts {
}

.contacts-box-mobile {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  /* margin-top: 24px;
  margin-bottom: 24px; */
}

.contacts-item-mobile {
  color: #434455;
  font-weight: 500;
  font-size: 26px;
  /* font-size: 16px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__item:hover {
  color: #404bbf;
}

.contacts__item:focus {
  color: #404bbf;
}

.menu-social-icons {
  display: flex;
  justify-content: space-between;
}
.contacts-active {
  color: #404bbf;
}

/* HERO */
.hero {
  background: #2e2f42;
  padding: 188px 0;
  background-color: #2a2a2a;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-mob.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-size: cover;

  margin: 0 auto;
  padding-top: 72px;
  padding-bottom: 72px;
  max-width: 320px;
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .hero-container {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-mob-2x.jpg);
  }
}

.hero-conteiner {
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 72px;
}

.hero__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;

  max-width: 200px;
}

.btn__ordr {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  display: block;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn__ordr:hover,
.btn__ordr:focus {
  background-color: #404bbf;
}
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* ABOUT */

.about-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 260px;
  height: 112px;
  border: 1px solid #8e8f99;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}

.adv-icon {
  width: 64px;
  height: 64px;
  stroke-width: 2px;
  fill: none;
}

.container + .about-box {
  min-width: 288px;
}

.about-section {
  padding: 96px 0;
}

.about-box {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.about__item {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.about__text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Our Team  */

.team-section {
  background-color: #f4f4fd;

  padding: 96px 0;
}

.team__item {
  background-color: #ffffff;

  border-radius: 0 0 4px 4px;

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team__box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* max-width: 264px; */
  gap: 72px;
}

.team-list {
  padding: 32px 0;
  display: flex;
  flex-direction: column;
}

.team-name {
  font-weight: 500;
  font-size: 20px;

  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
  list-style: none;
}

.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  color: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon:hover,
.social-icon:focus {
  background-color: #404bbf;
}

.icon {
  fill: currentColor;
}

/* Portfolio */

.portfolio-section {
  margin: 96px auto;
}

.portfolio-box {
  display: flex;

  flex-wrap: wrap;
  justify-content: center;
  gap: 48px;
}

.portfolio-list {
  /* width: calc((100% - 48px) / 3); */
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

/* .portfolio-list:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
} */

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  background-color: #4d5ae5;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list:hover .portfolio-overlay-text {
  transform: translateY(0);
}

.portfolio-descript {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin: 0 0 8px 0;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Footer */

.footer-cont {
  padding: 96px 0;
}
.footer_logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  display: block;
  margin-bottom: 16px;
  text-align: center;
}

.footer_logo__decor {
  color: #f4f4fd;
}

.footer-cont {
  background-color: #2e2f42;
  /* height: 312px; */
}

.footer-box-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}

.footer-about {
  /* margin-right: 120px; */
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  width: 264px;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 208px;
  height: 88px;
}

.footer-social-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;

  margin-bottom: 16px;
}

.social-icons-footer {
  gap: 16px;
  display: flex;
  justify-content: center;
  list-style: none;
}

.social-icon-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  color: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-footer:hover,
.social-icon-footer:focus {
  background-color: #31d0aa;
}

.subscribe-conteiner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.subscribe-title {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.subscribe-input {
  border: 1px solid #fff;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  min-width: 288px;
  /* max-width: 288px; */
  height: 40px;
  background-color: transparent;
  color: #fff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
}

.subscribe-input::placeholder {
  color: #fff;
}

.subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 4px;
  border: none;
  padding: 8px 24px;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #404bbf;
}

/* MODAL */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 288px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 16px 16px 16px;
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.modal-field-comment {
  margin-bottom: 16px;
}

.modal-input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
  border-color: #4d5ae5;
}

.modal-field-checkbox {
  margin-bottom: 24px;
}

.modal-checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;

  display: flex;
  align-items: center;
}

.modal-checkbox-custom {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}

.modal-checkbox:checked + .modal-checkbox-label .modal-checkbox-custom {
  background-color: #404bbf;
  border: 1px solid #404bbf;
  fill: #f4f4fd;
}

.modal-privacy-link {
  color: #4d5ae5;
}

.modal-submit-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}

.modal-submit-btn:hover,
.modal-submit-btn:focus {
  background-color: #404bbf;
}

/* ----------- TABLET --------------  */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  /* HEADER */

  /* .header-menu-mobile {
    display: none;
  } */
  .burger-btn {
    display: none;
  }

  .close-menu {
    display: none;
  }

  .menu-mobile-overflow {
    display: none;
  }
  .header-box {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    gap: 118px;
    align-items: center;
  }

  .menu-box {
    display: flex;
    align-items: center;
    gap: 120px;
  }

  .menu-items {
    display: flex;
    gap: 40px;
  }

  .contacts-box {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    /* margin: 16px 16px 16px 0; */
  }

  .menu__item {
    display: block;
    color: #2e2f42;
    text-decoration: none;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu__item:hover {
    color: #404bbf;
  }

  .menu__item:focus {
    text-decoration: underline;
    color: #404bbf;
  }

  .menu__item.menu__item-active::after {
    content: "";
    position: absolute;
    left: 0;
    /* bottom: -1px; */
    bottom: -1px;
    height: 4px;
    width: 100%;
    background-color: #404bbf;
    border-radius: 2px;
    color: #404bbf;
  }

  .menu__item-active {
    color: #404bbf;
  }

  .contacts {
    display: block;
    font-style: normal;
  }

  .contacts__item {
    color: #434455;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contacts__item:hover {
    color: #404bbf;
  }

  .contacts__item:focus {
    color: #404bbf;
  }

  /* HERO */

  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-laptop.jpg);
    max-width: 768px;
    padding-top: 112px;
    padding-bottom: 112px;
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .hero-container {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-laptop-2x.jpg);
    }
  }

  .hero-conteiner {
    gap: 52px;
  }

  .hero__title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 498px;
  }

  /* ABOUT */

  .about-section {
    padding: 96px 0;
  }

  .about-box {
    flex-direction: row;
    /* width: 736px; */
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .about-list {
    width: calc((100% - 24px) / 2);
  }

  .about__item {
    text-align: start;
  }

  /* OUR TEAM */

  .team-section {
    padding: 96px 0;
  }

  .team__box {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px 24px;
  }

  /* Portfolio */

  .portfolio-box {
    gap: 72px 24px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .portfolio-list {
    width: calc((100% - 24px) / 2);
  }

  /* Footer */

  .footer-box-cont {
    justify-content: start;
    gap: 72px 24px;
    padding: 0 108px;
  }

  .footer_logo {
    text-align: start;
  }

  .footer-about {
    max-width: 264px;
  }

  .footer-social {
    justify-content: start;
  }

  .subscribe-conteiner {
    justify-content: start;
    max-width: 453px;
  }

  .subscribe-form {
    flex-direction: row;
  }

  /* MODAL */

  .modal {
    width: 408px;
  }
}

/* ----------- ANOTHER ONES --------------  */

@media screen and (max-width: 1157px) {
  .about-icons {
    display: none;
  }
}

/* ----------- Desktop --------------  */

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }

  .header-container {
    align-items: center;
  }

  .contacts-box {
    gap: 40px;
  }

  .contacts__item {
    font-size: 16px;
    line-height: 1.5;
  }

  .menu__item.menu__item-active::after {
    bottom: -1px;
  }

  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .hero-container {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-2x.jpg);
    }
  }

  .hero-conteiner {
    gap: 48px;
  }

  /* ABOUT */

  .about-section {
    padding: 120px 0;
  }

  .about-box {
    /* flex-wrap: nowrap;
    gap: 24px; */
  }

  .about-list {
    width: calc((100% - 24px * 3) / 4);
  }

  .about__item {
    font-size: 20px;
    font-weight: 500;
  }
  .about__text {
    font-weight: 400;
  }

  /* Team  */

  .team-section {
    padding: 120px 0;
  }

  .team__box {
    flex-wrap: nowrap;
  }

  /* Portfolio */

  .portfolio-box {
    /* flex-wrap: wrap; */
  }

  .portfolio-list {
    width: calc((100% - 24px * 2) / 3);
    box-shadow: none;
  }
  .portfolio-list:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .portfolio-section {
    margin: 120px auto;
  }

  .portfolio-box {
    gap: 48px 24px;
  }

  /* Footer */
  .footer-cont {
    padding: 100px 0;
  }
  .footer-box-cont {
    flex-wrap: nowrap;
    gap: 0;
    padding: 0 15px;
  }

  .footer-about {
    margin-right: 120px;
  }

  .footer-social {
    margin-right: 80px;
  }

  .subscribe-input {
    min-width: 258px;
  }

  .subscribe-conteiner {
    height: 88px;
  }
}
